<div class="container">
  <div class="row">
    <div class="col-2 col-lg-1 d-none d-md-block p-0">
      <h6 class="side-text d-none d-md-block text-dark text-uppercase">
        {{ 'forgottenPassword.woof' | cxTranslate }}
      </h6>
    </div>
    <div class="col-12 text-center text-lg-left col-sm-10 offset-sm-1 col-lg-5 offset-lg-0">
      <h1 class="text-dark text-uppercase">
        {{ 'forgottenPassword.client.forgotPasswordTitleLine1' | cxTranslate }}
      </h1>
      <h2 class="stroked-dark text-uppercase">
        {{ 'forgottenPassword.client.forgotPasswordTitleLine2' | cxTranslate }}
      </h2>

      <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" class="mt-5">
        <div class="form-group">
          <label>
            <input class="form-control" type="password" name="password" formControlName="password"/>
            <span class="label-content">{{ 'forgottenPassword.newPassword' | cxTranslate }}</span>
          </label>
          <cx-form-errors [control]="resetPasswordForm.get('password')"></cx-form-errors>
        </div>

        <div class="form-group">
          <label>
            <input class="form-control" type="password" name="confirmpassword" formControlName="repassword"/>
            <span class="label-content">{{ 'forgottenPassword.confirmNewPassword' | cxTranslate }}</span>
          </label>
          <cx-form-errors [control]="resetPasswordForm.get('repassword')"></cx-form-errors>
        </div>

        <button class="btn btn-block btn-action" type="submit">
          {{ 'common.submit' | cxTranslate }}
        </button>

        <p class="text-xxsmall text-lg-small text-center my-3">
          <a class="text-underline"
             [routerLink]="{ cxRoute: 'login' } | cxUrl">{{ 'common.cancel' | cxTranslate }}
          </a>
        </p>
      </form>
    </div>
  </div>
</div>
