smartedit-element.smartEditComponentX[data-smartedit-component-id='MakaStoreCategoryNavComponent'] {
  z-index: 9998 !important;
}

smartedit-element.smartEditComponentX[data-smartedit-component-id='MakaPartnersCategoryNavComponent'] {
  z-index: 9998 !important;
}

smartedit-element.smartEditComponentX[data-smartedit-component-id='NavigationBarSlot'] {
  z-index: 9998 !important;
}

smartedit-element.smartEditComponentX[data-smartedit-component-id='HeaderContactParagraph'] {
  z-index: 9999 !important;
}
