app-maka-order-confirmation-items {
  @extend %CheckoutOrderItems !optional;

  margin: 0;
  padding-top: rem(40);

  @include media-breakpoint-up(md) {
    padding-top: rem(50);
  }

  @include media-breakpoint-up(md) {
    padding-top: rem(65);
  }

  .cx-order-items.container {
    border-color: var(--cx-color-inverse, #{$inverse});

    @include media-breakpoint-up(md) {
      padding: 0;
    }

    .cx-order-items-wrapper {
      @include media-breakpoint-up(lg) {
        @include make-col-offset(1);
        @include make-col(11, 12);
      }

      @include media-breakpoint-up(xl) {
        @include make-col-offset(1);
        @include make-col(10, 12);
      }
    }
  }
}

%CheckoutOrderItems {
  .cx-order-items-header {
    color: var(--cx-color-dark, #{$dark});
    font-family: $font-family-sans-serif-secondary;
    font-size: rem(45);
    font-weight: $font-weight-normal;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  cx-promotions {
    .cx-promotions {
      @extend %cart-promotions !optional;
      @extend %cx-cart-item-promotions !optional;

      ul {
        margin-left: 0;
      }
    }
  }

  cx-cart-item-list {
    @extend %cart-item-list;

    border-bottom: $border-standard;
    border-color: var(--inverse, $inverse);

    @include media-breakpoint-up(md) {
      margin-right: 0;
      padding-bottom: rem(34);
    }
  }

  .cx-item-list-header.row {
    @extend %cart-item-list-header;

    .cx-item-list-price,
    .cx-item-list-qty {
      @include media-breakpoint-up(md) {
        padding-left: 2%;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 3%;
      }
    }
  }

  cx-cart-item .row {
    @extend %cx-cart-item-row;

    .cx-image-container {
      @extend %cx-image-container;
    }

    .cx-info {
      @extend %cx-info;

      @include media-breakpoint-up(md) {
        padding: 1% 0 8%;
      }
    }

    .cx-info-container.row {
      @extend %cx-info-container;

      .cx-quantity {
        .cx-value {
          @include media-breakpoint-up(md) {
            margin-left: 0;
            text-align: center;
            width: 100%;
          }
        }
      }
    }

    cx-promotions {
      .cx-promotions {
        @extend %cx-cart-item-promotions;
      }
    }

    .cx-actions .cx-remove-btn {
      @extend %cx-action-remove;
    }
  }
}
