<h4>{{ 'orderCost.orderSummary' | cxTranslate }}</h4>

<div class="cx-summary-partials" *ngIf="cart">
  <div class="cx-summary-row">
    <div class="col-6 cx-summary-label">
      {{ 'orderCost.subtotal' | cxTranslate }}
    </div>
    <div class="col-6 cx-summary-amount">
      {{ cart.subTotal?.formattedValue }}
    </div>
  </div>
  <div class="cx-summary-row">
    <div class="col-6 cx-summary-label">
      {{
        (cart.deliveryCost?.formattedValue
          ? 'orderCost.shipping'
          : 'orderCost.estimatedShipping'
        ) | cxTranslate
      }}
    </div>
    <div class="col-6 cx-summary-amount cx-summary-shipping-cost">
      {{
        (cart.deliveryCost?.formattedValue
          ? cart.deliveryCost.formattedValue
          : ('orderCost.shippingCostNotCalculated' | cxTranslate)
        )
      }}
    </div>
  </div>
  <div class="cx-summary-row cx-summary-discount" *ngIf="cart.totalDiscounts?.value > 0">
    <div class="col-6 cx-summary-label">
      {{ 'orderCost.discount' | cxTranslate }}
    </div>
    <div class="col-6 cx-summary-amount cx-summary-discount">
      {{ cart.totalDiscounts?.formattedValue }}
    </div>
  </div>

  <div class="cx-summary-row" *ngIf="cart.net">
    <div class="col-6 cx-summary-label">
      {{ 'orderCost.salesTax' | cxTranslate }}
    </div>
    <div class="col-6 cx-summary-amount">
      {{ cart.totalTax?.formattedValue }}
    </div>
  </div>
  <div class="cx-summary-row cx-summary-total">
    <div class="col-6 cx-summary-label">
      {{ 'orderCost.total' | cxTranslate }}
    </div>
    <div class="col-6 cx-summary-amount">
      {{ cart.totalPriceWithTax?.formattedValue }}
    </div>
  </div>
  <div class="cx-summary-row cx-summary-tax" *ngIf="!cart.net">
    {{ 'orderCost.grossTax' | cxTranslate }}
  </div>
</div>
<ng-content></ng-content>
