//TODO: Review compliance with the table styles
%cx-product-attributes {
  table {
    margin: 0 0 30px 0;
    width: 100%;

    th {
      h3 {
        margin: 0 0 18px 0;
      }
    }

    tr {
      border-color: var(--cx-color-light);
      border-style: solid;
      border-width: 1px 0 1px;
    }

    td {
      padding: 12px 0 12px 0;
      vertical-align: top;
      width: 50%;
    }

    ul {
      list-style: none;
      padding: 0 0 0 0;
    }
  }
}

app-maka-product-attributes {
  @extend %cx-product-attributes;
}
