.spinner-overlay {
  align-items: center;
  background: var(--cx-color-primary, #{$primary});
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
