.video-container {
  height: 0;
  overflow: hidden;
  padding: ($spacer * 2) 0 55% 0;
  position: relative;

  &.vimeo {
    padding: 75% 0 0 0;
  }

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
