%maka-product-name {
  font-size: $large-font-size;
  font-weight: $font-weight-light;
  text-transform: uppercase;
}

%maka-product-price {
  font-family: $font-family-sans-serif-secondary;
  font-size: $xlarge-font-size;
}
