$icomoon-font-family: 'keff-keff-icons' !default;
$font-src-path: '/../../../assets/fonts' !default;

$icon-arrow-right: '\e90e';
$icon-grid: '\e90c';
$icon-list: '\e90d';
$icon-chevron-left: '\e90a';
$icon-chevron-right: '\e90b';
$icon-tiktok: '\e907';
$icon-youtube: '\e908';
$icon-linkedin: '\e909';
$icon-star: '\e906';
$icon-star-outline: '\e905';
$icon-cart: '\e904';
$icon-tw: '\e900';
$icon-ig: '\e901';
$icon-fb: '\e902';
$icon-arrow-down: '\e903';
