<ng-container *ngIf="bannerVisible$ | async as bannerVisible">
    <div
      [ngClass]="{ 'banner-display': display }"
      class="anonymous-consent-banner py-4 pt-md-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="text-center">
              <h4 class="text-medium text-md-xxlarge mb-1">{{ 'anonymousConsents.banner.title2' | cxTranslate }}</h4>
              <p class="font-weight-light text-md-small text-xxsmall">{{ 'anonymousConsents.banner.subTitle2' | cxTranslate }}</p>
            </div>

            <img src="/assets/images/cookies.png" class="d-block mx-auto my-4"
                 alt="{{ 'anonymousConsents.banner.title2' | cxTranslate }}" />

            <div class="text-xxsmall text-md-small">
              <p class="font-weight-bold my-0">{{ 'anonymousConsents.banner.descriptionTitle' | cxTranslate }}</p>
              <ng-container *ngIf="descriptionHtml$ | async as descriptionHtml">
                <p class="font-weight-light" [innerHtml]="descriptionHtml"></p>
              </ng-container>
            </div>

            <div class="text-center">
              <button class="btn btn-action text-xxsmall text-md-small" (click)="allowAll()">
                {{ 'anonymousConsents.banner.allowAll' | cxTranslate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
